/* CSS declarations go here */
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #fffdfe;
}
table {
    width: 100%;
}
body  {
    background-image: url('/src/sunset.jpg');
    background-color: #d0ddee;
}
th, tr{
    height: 50px;
    background-color: rgba(248, 241, 255, 0.56);
    color: #000000;
}
td {
    padding: 15px;
}

.Scraping {
    position: absolute;
    right: 5px;
}

.Parsing {
    position: absolute;
    right: 80px;
}

.Refing {
    position: absolute;
    right: 145px;
}
td {
    color: #000000;
}

h1, h2, h3 {
    color: rgba(209, 234, 255, 0.92);
    font-style: italic;
}

input[type="text"] {
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
    box-shadow: inset 3px 3px 4px 0 #538ac9;
}

a>div {
    display: none;
}

a:hover>div {
    display: block;
}